html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 14px;
    color: rgb(255,255,255);
    background-image: url(photo/Layer0.png);
}
.wrap {
    position: relative;
    padding: 10rem 15% 2.5rem 15%;
}
.BackButton {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 2.7rem;
    height: 2.7rem;
    background-image: url(photo/BackButton1.png);
    background-size: 2.7rem;
}
h2 {
    margin: 0 0 6rem 0;
    text-align: center;
}
h2 img {
    max-width: 9rem;
}
p {
    line-height: 1.5;
}
.foot {
    padding: 6rem 0 0 0;
    overflow: hidden;
}
.foot > div {
    min-width: 6rem;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.Ellipse {
    display: inline-block;
    width: 4.3rem;
    height: 4.3rem;
    text-align: center;
}
.Ellipse.number {
    background-image: url(photo/Ellipse1.png);
    background-size: 100%;
}
.Ellipse.logo {
    background-image: url(photo/logo1.png);
    background-size: 100%;
}



